<header>
    <nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
        <div class="container">
            <a class="navbar-brand" href="/scratch/">Scratch Stage</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div id="navbar" class="collapse navbar-collapse">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="dropdownConcepts" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><img class="header-icn-rev" src="/static/img/icons/concept.svg"/>Concepts</a>
                        <div class="dropdown-menu" aria-labelledby="dropdownConcepts">
                            <a class="dropdown-item" href="/scratch/concept/Orientation">Orientation</a>
                            <a class="dropdown-item" href="/scratch/concept/Avancer">Avancer</a>
                            <a class="dropdown-item" href="/scratch/concept/coordonnees">Coordonnées</a>
                            <a class="dropdown-item" href="/scratch/concept/Collisions">Collisions</a>
                            <a class="dropdown-item" href="/scratch/concept/Variables">Variables</a>
                            <a class="dropdown-item" href="/scratch/concept/Messages">Messages</a>
                            <a class="dropdown-item" href="/scratch/concept/Clones">Clones</a>
                            <a class="dropdown-item" href="/scratch/concept/Stylo">Stylo</a>
                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="dropdownScratchVersions" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><img class="header-icn-rev" src="/static/img/icons/hammer.png"/>Scratch (hors lignes)</a>
                        <div class="dropdown-menu" aria-labelledby="dropdownScratchVersions">
                            <a class="dropdown-item" target="_blank" href="/scratch/scratch">Scratch 2.0</a>
                            <a class="dropdown-item" target="_blank" href="/static/scratch/scratchGui">Scratch 3.0</a>
                        </div>
                    </li>
                </ul>
            </div><!--/.nav-collapse -->
        </div>
    </nav>
</header>