<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>Ou faire son projet personnel</title>
    {% include scratch/head.html %}
</head>


<body>
{% include scratch/nav.html %}

<main role="main" class="container">
    <div class="starter-template">

        <div class="embed-responsive embed-responsive-16by9">
            <iframe src="https://onedrive.live.com/embed?cid=5C202737302AA136&resid=5C202737302AA136%21588934&authkey=AL_0yJ3X1mt7K2A&em=2" frameborder="0" scrolling="no"></iframe>
        </div>

    </div>
</main>

{% include scratch/footer.html %}

</body>

</html>