<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>Home</title>
    {% include scratch/head.html %}
</head>


<body>
{% include scratch/nav.html %}

<main role="main" class="container">
    <div class="starter-template">
        
    <h1><img class="header-icn" src="/static/img/icons/concept.svg"/> Concepts </h1>
    <ul class="list-group ">
        
            <li class="list-group-item">
                <h3><img class="header-icn" src="/static/img/icons/concept/orientation.png"/> <a href="/scratch/concept/Orientation">Orientation</h3></a>
                <p class="text-muted">Permet de modifier l'angle de rotation du lutin</p>
            </li>
        
            <li class="list-group-item">
                <h3><img class="header-icn" src="/static/img/icons/concept/move.png"/> <a href="/scratch/concept/Avancer">Avancer</h3></a>
                <p class="text-muted">Orienter le lutin ne suffit pas à créer un mouvement. Pour cela, après l'avoir correctement orienté il faut lui demander d'<b>avancer</b></p>
            </li>
        
            <li class="list-group-item">
                <h3><img class="header-icn" src="/static/img/icons/concept/coordinate.png"/> <a href="/scratch/concept/Coordonnees">Coordonnées</h3></a>
                <p class="text-muted">Permet de déplacer un lutin en manipulant ses coordonnées</p>
            </li>
        
            <li class="list-group-item">
                <h3><img class="header-icn" src="/static/img/icons/concept/collision.png"/> <a href="/scratch/concept/Collisions">Collisions</h3></a>
                <p class="text-muted">Permet de savoir si oui ou non le lutin touche "quelque chose de particulier</p>
            </li>
        
            <li class="list-group-item">
                <h3><img class="header-icn" src="/static/img/icons/concept/variable.png"/> <a href="/scratch/concept/Variables">Variables</h3></a>
                <p class="text-muted">Permet de sauvegarder une valeur en mémoire qu'on peut consulter et manipuler</p>
            </li>
        
            <li class="list-group-item">
                <h3><img class="header-icn" src="/static/img/icons/concept/message.png"/> <a href="/scratch/concept/Messages">Messages</h3></a>
                <p class="text-muted">Permet de faire communiquer les lutins ensemble. Un lutin envoie un message qui sera reçu par tous, chacun peut décider d'y réagir ou non.</p>
            </li>
        
            <li class="list-group-item">
                <h3><img class="header-icn" src="/static/img/icons/concept/clones.png"/> <a href="/scratch/concept/Clones">Clones</h3></a>
                <p class="text-muted">Permet de créer une copie d'un lutin (sans le dupliquer) partageant les mêmes actions</p>
            </li>
        
    </ul>

    <h1><img class="header-icn" src="/static/img/icons/slide.png"/> Slides de présentation</h1>
    <p>Toutes les slides présentés pendant le cours (et plus) sont disponible sur ce  <a href="/scratch/slide">LIEN</a></p>


    <h1><img class="header-icn" src="/static/img/icons/games.png"/> Idées de jeux </h1>
    <div class="card-deck">
        <a href="/scratch/myProject" class="card text-dark mb-4" style="width: 18rem;text-decoration: none;">
                <img class="card-img-top" src="/static/img/projectsPreview/projetInconnu.png" alt="Projet personnel">
            <div class="card-body">
                <h5 class="card-title">Comment faire un projet personnel ?</h5>
                <p class="card-text">Jette un oeil ici pour commencer un nouveau projet ! Pleins de conseils et astuce pour bien réussir ;)</p>
            </div>
        </a>
        

                <a href="/scratch/project/Pong" class="card text-dark mb-4" style="width: 18rem;text-decoration: none;">
                    
                        <img class="card-img-top" src="/static/img/projectsPreview/pong.png" alt="Pong">
                    
                    <div class="card-body">
                        <h5 class="card-title">Pong</h5>
                        <p class="card-text">Jeu de pong en solo très simplifié</p>
                    </div>
                    <div class="card-footer">
                        <small class="text-muted">Difficulté : 2/10</small>
                    </div>
                </a>
                


        

                <a href="/scratch/project/Plongeur" class="card text-dark mb-4" style="width: 18rem;text-decoration: none;">
                    
                        <img class="card-img-top" src="/static/img/projectsPreview/plongeur.png" alt="Plongeur">
                    
                    <div class="card-body">
                        <h5 class="card-title">Plongeur</h5>
                        <p class="card-text">Aide le plongeur à capturer tout les poissons, mais gare au requin qui les défends !</p>
                    </div>
                    <div class="card-footer">
                        <small class="text-muted">Difficulté : 3/10</small>
                    </div>
                </a>
                


        

                <a href="/scratch/project/Pong%202%20joueurs" class="card text-dark mb-4" style="width: 18rem;text-decoration: none;">
                    
                        <img class="card-img-top" src="/static/img/projectsPreview/pong2.png" alt="Pong 2 joueurs">
                    
                    <div class="card-body">
                        <h5 class="card-title">Pong 2 joueurs</h5>
                        <p class="card-text">Jeu de pong, mais à 2 joueurs en simultané cette fois!</p>
                    </div>
                    <div class="card-footer">
                        <small class="text-muted">Difficulté : 3/10</small>
                    </div>
                </a>
                 
                    <div class="w-100 d-none d-xl-block"></div>
                


        

                <a href="/scratch/project/Jeu%20d&#39;esquive" class="card text-dark mb-4" style="width: 18rem;text-decoration: none;">
                    
                        <img class="card-img-top" src="/static/img/projectsPreview/esquive.png" alt="Jeu d&#39;esquive">
                    
                    <div class="card-body">
                        <h5 class="card-title">Jeu d&#39;esquive</h5>
                        <p class="card-text">Jeu d&#39;esquive, éviter aussi longtemps que possible les blocs arrivant de la droite</p>
                    </div>
                    <div class="card-footer">
                        <small class="text-muted">Difficulté : 4/10</small>
                    </div>
                </a>
                


        

                <a href="/scratch/project/Labyrinthe" class="card text-dark mb-4" style="width: 18rem;text-decoration: none;">
                    
                        <img class="card-img-top" src="/static/img/projectsPreview/labyrinthe.png" alt="Labyrinthe">
                    
                    <div class="card-body">
                        <h5 class="card-title">Labyrinthe</h5>
                        <p class="card-text">Jeu de labyrinthe simple mais amusant à faire et étendre</p>
                    </div>
                    <div class="card-footer">
                        <small class="text-muted">Difficulté : 5/10</small>
                    </div>
                </a>
                


        

                <a href="/scratch/project/Tir%20cote" class="card text-dark mb-4" style="width: 18rem;text-decoration: none;">
                    
                        <img class="card-img-top" src="/static/img/projectsPreview/tirCote.png" alt="Tir coté">
                    
                    <div class="card-body">
                        <h5 class="card-title">Tir coté</h5>
                        <p class="card-text">Jeu de tir sur le coté</p>
                    </div>
                    <div class="card-footer">
                        <small class="text-muted">Difficulté : 6/10</small>
                    </div>
                </a>
                


        

                <a href="/scratch/project/Plate-forme" class="card text-dark mb-4" style="width: 18rem;text-decoration: none;">
                    
                        <img class="card-img-top" src="/static/img/projectsPreview/plateForme.png" alt="Plate-forme">
                    
                    <div class="card-body">
                        <h5 class="card-title">Plate-forme</h5>
                        <p class="card-text">Jeu de plate-forme simplifié.
Attention qu&#39;il reste difficile à programmer !</p>
                    </div>
                    <div class="card-footer">
                        <small class="text-muted">Difficulté : 8/10</small>
                    </div>
                </a>
                 
                    <div class="w-100 d-none d-xl-block"></div>
                


        
    </div>


    </div>
</main>

{% include scratch/footer.html %}

</body>

</html>