<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>Ou faire son projet personnel</title>
    {% include scratch/head.html %}
</head>


<body>
{% include scratch/nav.html %}

<main role="main" class="container">
    <div class="starter-template">

        <div class="embed-responsive embed-responsive-16by9">
            <iframe src="https://onedrive.live.com/embed?cid=5C202737302AA136&resid=5C202737302AA136%21588922&authkey=AOt1ufmXan5QZxk&em=2"frameborder="0" scrolling="no"></iframe>
        </div>

        <p>
            Jusqu'à présent dans les exercices on n'utilisait une version spéciale de Scratch avec moins de blocs.<br>
            Maintenant on va aller sur le vrai site de Scratch ce qui nous permettra de nombreuses choses comme:
        </p>
        <ul>
            <li>Se connecter à un compte</li>
            <li><b>Sauvegarder</b> tes projets en lignes</li>
            <li>Continuer tes projets chez toi (si tu le souhaite)</li>
            <li>Montrer tes projets à tes amis et ta famille </li>
        </ul>

        Tout ce dont tu auras besoin c'est d'un ordinateur connecté à internet et te souvenir du nom d'utilisateur et le mot de passe!

        <h2>Créer un compte</h2>

        <p class="lead"> Fais bien attention à ne pas oublier le mot de passe que tu choisis pour ton compte ! </p>

        <h4>Si tu es inscrit au cours de "Programmation Jeux" du Parascolaire d'Uccle en aout 2019</h4>
        Clique sur LE lien qui correspond à ton groupe:
        <ul>
            <li><a href="http://scratch.mit.edu/classes/199386/register/c140db652d2345019d669f9df13fa308">Groupe <b>1</b></a></li>
            <li><a href="http://scratch.mit.edu/classes/199394/register/2098f39401444a37ac455fd93d1fea88">Groupe <b>2</b></a></li>
            <li><a href="http://scratch.mit.edu/classes/199396/register/cd2a9556e4124186a06ce3a653ad5e43">Groupe <b>3</b></a></li>
        </ul>
        <h4>Si tu n'es inscrit à aucun des cours mentionné : </h4>
            <a href="http://scratch.mit.edu/classes/199723/register/f6eb3614b3db40968b9c9663b16a49b8">CLIQUE ICI</a>


        <h2>Se connecter</h2>
        <img class="img-fluid" src="/static/img/barreScratch.JPG">
        <ol>
            <li>Connecte toi sur le site de Scratch : <a href="https://scratch.mit.edu/projects/editor">https://scratch.mit.edu/projects/editor</a></li>
            <li>Appuie sur "Se connecter" en haut à droite</li>
            <li>Entre le nom d'utilisateur et le mot de passe de ton compte</li>
        </ol>
        Tu pourra faire ça depuis n'importe quel ordinateur connecté à internet!
        C'est comme ça que tu pourra continuer ton projet ou montrer ton jeu à tes proches ;)
        Une fois connecté tu pourra :
        <ul>
            <li>Créer un nouveau projet en appuyant sur "créer" en haut à gauche</li>
            <li>Ouvrir un projet que en appuyant sur le bouton en forme de dossier en haut à droite
                <img class="img-fluid" src="https://scratch.mit.edu/static/assets/e764d9d9a7a12892e0845b11cd4202df.png" style="background-color: hsl(215, 100%, 65%);">
                ou
                <img class="img-fluid" src="https://cdn.scratch.mit.edu/scratchr2/static/__507918f8a1bdce8119c4a095642a8c5f__/images/mystuff.png" style="background-color: hsl(215, 100%, 65%);">. Si tu n'en vois pas vérifie que tu es bien connecté.<br>Après ça, tu choisis le projet et tu clique sur le bouton "Voir à l'interieur"</li>
            <li><b>Sauvegarde réguliérement ton projet !</b> Fichier -> Sauvegarder Maintenant</li>
        </ul>


    </div>
</main>

{% include scratch/footer.html %}

</body>

</html>