<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en" style="height: 100%;">
<head>
    <title>Scratch Editor</title>

    <script>
        function JSeditorReady() {
            /*
            var scr = document.getElementById("scratch-flash");
            scr.ASsetEditMode(false);
            scr.ASloadProjectUrl("/static/scratchProjects/test.sb2");
            */
            return true;
        }
    </script>

</head>

<body leftmargin="0" topmargin="0" scroll="no" style="height: 100%;">

    <embed id="scratch-flash" width="100%" height="100%" fullscreen="yes" src="/static/scratch/Scratch.swf">

</body>
