<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>Home</title>
    {% include scratch/head.html %}
</head>


<body>
{% include scratch/nav.html %}

<main role="main" class="container">
    <div class="starter-template">


        <h1> Slides de présentation </h1>
        <p>Ceci sont les slides que je présente lors des cours que je donne<br>
            Attention que les animations ne s'affiche pas toujours très bien</p>
        <p>Les corrections des exercices sont indiqués dans les slides, attention que parfois plusieurs réponses sont correctes ;)</p>


        <h3>Concept</h3>
        <ul class="pagination justify-content-center">




            <li id="slideChoice2" data-driveurl="cid=5C202737302AA136&amp;resid=5C202737302AA136%21392511&amp;authkey=AJucKmLOZaaf0Zc&amp;em=2" class="page-item"><a class="page-link" href="#">Mouvement</a> </li>



            <li id="slideChoice3" data-driveurl="cid=5C202737302AA136&amp;resid=5C202737302AA136%21392504&amp;authkey=AKXIQWJ3vwh-63o&amp;em=2" class="page-item"><a class="page-link" href="#">Collisions</a> </li>



            <li id="slideChoice4" data-driveurl="cid=5C202737302AA136&amp;resid=5C202737302AA136%21392392&amp;authkey=AOXSoEJJnAqDM8E&amp;em=2" class="page-item"><a class="page-link" href="#">Variables</a> </li>



            <li id="slideChoice5" data-driveurl="cid=5C202737302AA136&amp;resid=5C202737302AA136%21392397&amp;authkey=ADNRCXaiMEo6Z7U&amp;em=2" class="page-item"><a class="page-link" href="#">Messages</a> </li>



            <li id="slideChoice6" data-driveurl="cid=5C202737302AA136&amp;resid=5C202737302AA136%21392394&amp;authkey=APBfZ6iVt-TG9SI&amp;em=2" class="page-item"><a class="page-link" href="#">Clones</a> </li>



            <li id="slideChoice7" data-driveurl="cid=5C202737302AA136&amp;resid=5C202737302AA136%21392405&amp;authkey=AL0xpT3DW0kb_HE&amp;em=2" class="page-item"><a class="page-link" href="#">Blocs</a> </li>



            <li id="slideChoice8" data-driveurl="cid=5C202737302AA136&amp;resid=5C202737302AA136%21392408&amp;authkey=AKTTvvR7zNDzB3E&amp;em=2" class="page-item"><a class="page-link" href="#">Entrées de bloc</a> </li>



            <li id="slideChoice9" data-driveurl="cid=5C202737302AA136&amp;resid=5C202737302AA136%21392426&amp;authkey=ALsATxOmeeRiiUU&amp;em=" class="page-item"><a class="page-link" href="#">Stylo</a> </li>



            <li id="slideChoice10" data-driveurl="cid=5C202737302AA136&amp;resid=5C202737302AA136%21392443&amp;authkey=ACr5RLWaaGKq4cc&amp;em=2" class="page-item"><a class="page-link" href="#">Temps</a> </li>














        </ul>

        <h3>Projets</h3>
        <ul class="pagination justify-content-center">


























            <li id="slideChoice13" data-driveurl="cid=5C202737302AA136&amp;resid=5C202737302AA136%21392379&amp;authkey=ANX3LWTe4yIesmk&amp;em=2" class="page-item"><a class="page-link" href="#">Labyrinthe</a> </li>



            <li id="slideChoice14" data-driveurl="cid=5C202737302AA136&amp;resid=5C202737302AA136%21392410&amp;authkey=AM5ySe6CPTw4rVc&amp;em=2" class="page-item"><a class="page-link" href="#">Jeu de tir</a> </li>



            <li id="slideChoice15" data-driveurl="cid=5C202737302AA136&amp;resid=5C202737302AA136%21392400&amp;authkey=ABG2ICiRWpt7S20&amp;em=2" class="page-item"><a class="page-link" href="#">Plate-forme</a> </li>



            <li id="slideChoice16" data-driveurl="cid=5C202737302AA136&amp;resid=5C202737302AA136%21392430&amp;authkey=ACXL4ZMKYNrN8R8&amp;em=2" class="page-item"><a class="page-link" href="#">Space-Shooter</a> </li>


        </ul>

        <h3>Autre</h3>
        <ul class="pagination justify-content-center">


            <li id="slideChoice1" data-driveurl="cid=5C202737302AA136&amp;resid=5C202737302AA136%21392505&amp;authkey=AE0ztCEoMq56yMY&amp;em=2" class="page-item"><a class="page-link" href="#">Introduction</a> </li>





















            <li id="slideChoice11" data-driveurl="cid=5C202737302AA136&amp;resid=5C202737302AA136%21392536&amp;authkey=AHPbQwmZJhoUyOM&amp;em=2" class="page-item"><a class="page-link" href="#">Connection au compte</a> </li>



            <li id="slideChoice12" data-driveurl="cid=5C202737302AA136&amp;resid=5C202737302AA136%21392445&amp;authkey=AJJCrvV-iKzrHsU&amp;em=2" class="page-item"><a class="page-link" href="#">Alternatives à Scratch</a> </li>










        </ul>



        <div class="embed-responsive embed-responsive-4by3">
            <iframe id="slideFrame" frameborder="0" scrolling="no"></iframe>
        </div>

        <script>
            var li = document.getElementsByTagName("li");
            var slideFrame = document.getElementById('slideFrame');

            for(var i = 0;i<li.length;i++){
                li[i].addEventListener("click", function(){
                    var driveUrl = this.getAttribute("data-driveUrl");
                    slideFrame.src = "https://onedrive.live.com/embed?" + driveUrl;
                });
            }
        </script>



    </div>
</main>

{% include scratch/footer.html %}

</body>


</html>