<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>Projet | Plongeur</title>
    {% include scratch/head.html %}
</head>


<body>
{% include scratch/nav.html %}

<main role="main" class="container">
    <div class="starter-template">



        <p class="text-muted lead hideIfNotAdmin">Vous êtes sur la page des projets comme administrateur</p>


        <h1> Plongeur </h1>
        <p class="text-muted">Aide le plongeur à capturer tout les poissons, mais gare au requin qui les défends !</p>

        <h2 id="resume">Résumé</h2>
        <p></p><p>Le plongeur poursuis le pointeur de la souris, son but est de ramasser les 3 poissons en les touchant.<br>Le requin poursuit très lentement le plongeur qu'il peut manger en le touchant.<br>Les poissons ont certains comportement prédéfinis</p><p></p>


        <h2>Démo</h2>



        <div class="card">
            <div class="card-header" data-toggle="collapse" data-target="#demoProjectCollapsable">
                <h5 class="mb-0">
                    <button class="btn btn-link" type="button">
                        Démo
                    </button>
                </h5>
            </div>
            <div id="demoProjectCollapsable" class="collapse">
                <div class="card-body">

                    <div class="embed-responsive embed-responsive-4by3"><embed id="scratch-flash-plongeur" class="embed-responsive embed-responsive-4by3" src="/static/scratch/Scratch.swf" data-sbfile="projects/plongeur" data-editmode="False"></div>

                    <a class="btn btn-info hideIfNotAdmin" onclick="toggleEdition($(this).parent().find('embed')[0])" role="button">Toggle édition</a>

                    <a class="btn btn-info" onclick="loadFile($(this).parent().find('embed')[0])" role="button">Re-charger le projet</a>

                </div>
            </div>
        </div>



        <h2>Réalisation</h2>

        <h4>Identification des objectifs du jeu</h4>
        <p>On va se poser la question de <b>qu'est ce qu'on veut ?</b></p>
        <p>( déjà répondu dans le <a href="#resume">résumé</a> )</p>

        <h4>Identification des lutins</h4>
        <p>On va se poser la question <b>de quoi avons nous besoin et que doit-il faire?</b></p>
        Dans notre cas j'ai choisi d'en utiliser 3 :
        <ul>

            <li>Plongeur</li>

            <li>Requin</li>

            <li>Poisson (3)</li>

        </ul>

        <h4>Programmation des lutins </h4>

        <h5>Plongeur</h5>

        <h6> Mouvement </h6>
        <p> </p><p>Déplacer continuellement le plongeur en direction de la souris.<br>J'ai aussi ajouter un petit boost quand on clique</p> <p></p>

        <h6> Mangé par le requin </h6>
        <p> </p><p>Je le fait également disparaître si le requin le touche (et réapparaître à chaque début de partie)</p> <p></p>


        <h5>Requin</h5>

        <h6> Déplacement </h6>
        <p> </p><p>Il poursuit le plongeur à partir du moment où le jeu commence</p> <p></p>


        <h5>Poisson (3)</h5>

        <h6> Déplacement </h6>
        <p> </p><p>Ça dépend des poissons, j'ai décidé de leur donner à tous un comportement différents :<br> - Le mauve fait des aller-retours horizontalement<br> - Le jaune change de direction de manière aléatoire de temps en temps<br> - Le orange essaye toujours d'aller en direction opposé du plongeur</p> <p></p>

        <h6> Attraper par le plongeur </h6>
        <p> </p><p>Quelque soit le poisson, il disparaît quand le plongeur le touche</p> <p></p>





        <script>
            function JSeditorReady() {
                var scratchLoadTarget = jQuery(this).find("embed");
                console.log("CALL to JSeditorReady, with target : ");
                console.log(scratchLoadTarget);

                if (scratchLoadTarget != null) {
                    for (var i=0; i<scratchLoadTarget.length; i++) {
                        // Load l'URL
                        loadFile(scratchLoadTarget[i]);
                        // Load le mode éditeur ou jeu
                        loadEdition(scratchLoadTarget[i]);
                    }
                } else {
                    console.warn("Appel de JSeditorReady sans cible");
                }

                return true;
            }

        </script>


    </div>
</main>

{% include scratch/footer.html %}
{% include scratch/endJS.html %}

</body>

</html>