<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>Projet | Pong 2 Joueurs</title>
    {% include scratch/head.html %}
</head>


<body>
{% include scratch/nav.html %}

<main role="main" class="container">
    <div class="starter-template">



        <p class="text-muted lead hideIfNotAdmin">Vous êtes sur la page des projets comme administrateur</p>


        <h1> Pong 2 joueurs </h1>
        <p class="text-muted">Jeu de pong, mais à 2 joueurs en simultané cette fois!</p>

        <h2 id="resume">Résumé</h2>
        <p></p><p>La première raquette est con trollé par les flèches, la seconde par la position de la souris.<br>Celui qui renvoie le plus la balle derrière chez l'adversaire à gagné !</p><p></p>


        <h2>Démo</h2>



        <div class="card">
            <div class="card-header" data-toggle="collapse" data-target="#demoProjectCollapsable">
                <h5 class="mb-0">
                    <button class="btn btn-link" type="button">
                        Démo
                    </button>
                </h5>
            </div>
            <div id="demoProjectCollapsable" class="collapse">
                <div class="card-body">

                    <div class="embed-responsive embed-responsive-4by3"><embed id="scratch-flash-Pong2Joueurs" class="embed-responsive embed-responsive-4by3" src="/static/scratch/Scratch.swf" data-sbfile="projects/Pong2Joueurs" data-editmode="False"></div>

                    <a class="btn btn-info hideIfNotAdmin" onclick="toggleEdition($(this).parent().find('embed')[0])" role="button">Toggle édition</a>

                    <a class="btn btn-info" onclick="loadFile($(this).parent().find('embed')[0])" role="button">Re-charger le projet</a>

                </div>
            </div>
        </div>



        <h2>Réalisation</h2>

        <h4>Identification des objectifs du jeu</h4>
        <p>On va se poser la question de <b>qu'est ce qu'on veut ?</b></p>
        <p>( déjà répondu dans le <a href="#resume">résumé</a> )</p>

        <h4>Identification des lutins</h4>
        <p>On va se poser la question <b>de quoi avons nous besoin et que doit-il faire?</b></p>
        Dans notre cas j'ai choisi d'en utiliser 5 :
        <ul>

            <li>Raquette 1</li>

            <li>Raquette 2</li>

            <li>Balle</li>

            <li>Zone KO 1</li>

            <li>Zone KO 2</li>

        </ul>

        <h4>Programmation des lutins </h4>

        <h5>Raquette 1</h5>

        <h6> Déplacement </h6>
        <p> </p><p>Se déplace de haut en bas avec les flèches du clavier</p> <p></p>


        <h5>Raquette 2</h5>

        <h6> Déplacement </h6>
        <p> </p><p>Se déplace en suivant verticalement la valeur de la souris</p> <p></p>


        <h5>Balle</h5>

        <h6> Initialisation </h6>
        <p> </p><p>Commence au centre avec une direction aléatoire</p> <p></p>

        <h6> Déplacement </h6>
        <p> </p><p>Avance continuellement dans la direction donnée</p> <p></p>

        <h6> Collisions raquettes </h6>
        <p> </p><p>Quel que soit la raquette qu'il touche, il se retourne</p> <p></p>

        <h6> Collision avec une zone KO </h6>
        <p> </p><p>J'ai décidé de simplement la re-téléporter au centre avec une nouvelle direction aléatoire.<br>Libre à toi d'ajouter des fonctionnalités (compter les points etc.)</p> <p></p>


        <h5>Zone KO 1</h5>

        <h6> Collision balle </h6>
        <p> </p><p>Rien de particulier à faire, c'est la balle qui s'en charge !</p> <p></p>


        <h5>Zone KO 2</h5>

        <h6> Collision avec la balle </h6>
        <p> </p><p>Rien de particulier à faire, c'est la balle qui s'en charge !</p> <p></p>





        <script>
            function JSeditorReady() {
                var scratchLoadTarget = jQuery(this).find("embed");
                console.log("CALL to JSeditorReady, with target : ");
                console.log(scratchLoadTarget);

                if (scratchLoadTarget != null) {
                    for (var i=0; i<scratchLoadTarget.length; i++) {
                        // Load l'URL
                        loadFile(scratchLoadTarget[i]);
                        // Load le mode éditeur ou jeu
                        loadEdition(scratchLoadTarget[i]);
                    }
                } else {
                    console.warn("Appel de JSeditorReady sans cible");
                }

                return true;
            }

        </script>


    </div>
</main>

{% include scratch/footer.html %}
{% include scratch/endJS.html %}

</body>

</html>